header {
  background-color: #382f2f;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo img {
  max-width: 30%;
  height: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  display: block;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

nav ul li:hover > ul {
  display: block;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  padding: 0;
}

nav ul ul li {
  display: block;
  width: 100%;
}

nav ul ul li a {
  display: block;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

nav ul ul li a:hover {
  background-color: #444;
}
.fotos {
  background-color: #f9f9f9;
  padding: 50px 0;
}

.contenedor {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.foto {
  width: 300px;
  margin: 20px;
  text-align: center;
}

.foto img {
  max-width: 100%;
  height: auto;
}

.foto h3 {
  margin-top: 20px;
  font-size: 24px;
}

.foto p {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.5;
}
